.shipList {
  font-size: 1.5rem;
  background-color: darkblue;
  color: lightgreen;
  padding: 0.3rem 1.6rem 0.3rem 1.6rem;
  width: 15%;
  list-style: none;
  margin: 0;
}

.shipList li {
  cursor: pointer;
  padding: 0.5rem;
}
