.headerWithLogo {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.666); */
  height: 100px;
  width: 100%;
  /* border: black solid; */
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

.spaceHeader {
  /* background-color: darkblue;
  height: 5rem;
  width: 90%; */
  width: 90%;

  font-size: 2.5rem;
  font-family: "Audiowide", cursive;
  font-weight: normal;
  color: rgb(16, 71, 114);
  padding: 1.5rem 15rem 1rem 2.5rem;
  box-sizing: border-box;
  margin: 0;
}

.headerWithLogo img {
  object-fit: contain;
  max-width: 600px;
  max-height: 80px;
  /* width: auto; */
  /* height: auto; */
  /* margin-left: 5px; */
  margin: 8px;
}
